@import "src/styles/breakpoints";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.7rem;

  .MuiFormControl-root {
    @include for-mobile {
      min-width: 125px;
    }
  }
}
