@import "src/styles/color";
@import "src/styles/breakpoints";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.7rem;

  h2 {
    color: $red;
  }

  .MuiFormControl-root {
    background-color: #fff;
    @include for-mobile {
      min-width: 125px;
    }
  }
}
