@import "../../styles/color";

.table {
  max-height: calc(100vh - 300px);
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  overflow: auto;
  color: $table-color;

  table {
    width: 100%;
    tr:nth-of-type(odd) {
      background-color: $background-main;
    }

    tr {
      display: flex;
      justify-content: space-between;
      cursor: pointer;
      padding: 1px;
      border-radius: 5px;

      &:hover {
        background-color: rgba(0, 0, 0, 0.2);
      }
    }

    td {
      padding: 0.5rem;

      span {
        margin-right: 0.5rem;
        font-weight: 800;
      }
    }
  }
}
