@import "styles/reset";
@import "styles/breakpoints";

.app {
  display: flex;
  justify-content: space-evenly;
  padding: 1.2rem;

  @include for-desktop-down {
    flex-direction: column;
  }

  .app__left {
    flex: 0.7;
    padding-right: 1rem;
    height: 100%;

    @include for-desktop-down {
      flex: 1;
      padding-right: 0;
    }
  }

  .app__right {
    flex: 0.3;

    .MuiCardContent-root {
      height: 100%;
    }

    @include for-desktop-down {
      flex: 1;
    }
    .table__title {
      text-align: center;
    }
  }

  .app__stats {
    display: flex;
    justify-content: space-between;

    @include for-mobile {
      flex-direction: column;
    }
  }
}
