@import "src/styles/breakpoints";

.map {
  height: 500px;
  background-color: #fff;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 1.2rem;
  box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);

  @include for-desktop-down {
    margin-bottom: 1rem;
  }

  .leaflet-container {
    height: 100%;

    @include for-mobile {
      padding: 0.5rem;
      border-radius: 10px;
    }
  }

  .info-flag {
    height: 80px;
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .info-name {
    font-size: 1.2rem;
    font-weight: bold;
    color: #555;
  }
  .info-confirmed,
  .info-recovered,
  .info-deaths {
    font-size: 1rem;
    margin-top: 0.3rem;
  }
}
